* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	overflow: hidden;
}

.qrcode {
	&-generator {
		position: relative;
		padding: 1rem;

		input {
			width: 100%;
			font-size: 2rem;
			border-radius: 2rem;
			padding: 1rem 1.4rem;
		}

		.qrcode {
			margin-top: 2rem;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
